/* Emoji Picker Container */
.MuiBox-root.css-18mzev6 {
  .epr-skin-tones.epr_-v86i3b.epr_q53mwh.epr_vl50xg.epr_vwruzc.epr_zeg9on.epr_qyh4cg {
    border: solid 5px red;
    display: none;
  }
  .epr-category-nav.epr_q53mwh.epr_-lzq3oa.epr_rco1ad.epr_-8ygbw8.epr_1q9rpn {
    display: none;
    /**
    .epr-btn.epr_3vd53t.epr_yh3q76.epr_l5ctms.epr_-orqfm8.epr-cat-btn.epr_iy6j2p.epr_8dj1z2.epr_mw4zr1.epr_-uyst0v.epr_-hjcjqm.epr_-tbk56u.epr_-orqfm8.epr_-315v0j.epr_-4ag7tl.epr_-f1jbax.epr_-6kfaby.epr-icn-suggested {
      display: none;
    }
    .epr-btn.epr_3vd53t.epr_yh3q76.epr_l5ctms.epr_-orqfm8.epr-cat-btn.epr_iy6j2p.epr_8dj1z2.epr_mw4zr1.epr_-uyst0v.epr_-hjcjqm.epr_-tbk56u.epr_-orqfm8.epr_-315v0j.epr_-4ag7tl.epr_-f1jbax.epr_-6kfaby:first-child {
      display: none;
    }
    */
  }
  .epr_q53mwh.epr_vl50xg.epr_-3yva2a.epr_c90x4z.epr_-sisw4f.epr_mw4zr1.epr_-kg0voo.epr_iogimd.epr_wtwvf4.epr_-lzq3oa {
    display: none;
  }
}
